@font-face {
    font-family: etchasketch;
    src: url(../fonts/Etchasketch-n6vR.ttf);
}

@font-face {
    font-family: fortrack;
    src: url(../fonts/FortrackItalic-5zBj.otf);
}

.title {
    font-family: fortrack;
    font-size: 40px;
    color: goldenrod;
}

.title span {
    font-family: etchasketch;
    display: inline-block;
    margin: 0 70px;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 70px 10px;
    padding-top: 50px;
    width: 50%;
    height: 63%;
    background-color: #b60112;
    align-items: center;
    border-radius: 20px;
}

.container {
    width: 650px;
    height: 650px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid gray;
    background-color: white;
}

.box {
    box-sizing: border-box;
}

.btn {
    width: 70px;
    height: 70px;
    border-radius: 70px;
    border-width: 1px;
    box-sizing: border-box;
}

#RGB_button {
    background: rgb(161,26,198);
    background: linear-gradient(0deg, rgba(161,26,198,1) 9%, rgba(46,51,186,1) 18%, rgba(63,167,175,1) 26%, rgba(126,211,221,1) 35%, rgba(84,161,60,1) 47%, rgba(195,225,61,1) 58%, rgba(253,233,45,1) 72%, rgba(240,145,55,0.9864320728291317) 84%, rgba(221,19,19,1) 96%);   
    color: black;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.buttons {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.buttons button {
    margin: 0 20px;
}

.range-button .range {
    color: white;
    font-size: 30px;
}